@model Paginacion<Pago>
@{
    ViewData["Title"] = "Pagos anulados";
}
<div class="text-center">
	<h1 class="display-4">Lista de Pagos Anulados</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Fecha del pago</th>
        <th>Monto</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
		{
 
			<tr>
                <td>
					@item.Fecha_pago.ToString("dd-MM-yyyy")
				</td>
                <td>
					@item.Monto
				</td>
            </tr>
            }
  </tbody>
</table>